.auth-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.auth-page-error {
  margin-top: 24px;
  color: var(--danger-color);
  font-weight: 500;
}
