.textbox-container {
  position: relative;
  width: 100%;
}

.textbox {
  padding: 0 12px;
  min-height: 36px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  width: 100%;
}

.textbox-label {
  position: absolute;
  transition: all 200ms;
  top: 10px;
  left: 12px;
  pointer-events: none;
}

.textbox-container .textbox:focus + .textbox-label,
.textbox-container .textbox:not(:placeholder-shown) + .textbox-label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  background-color: var(--card-background);
  padding: 2px 10px;
}
