.product-info {
  background-color: white;
  padding: 20px;
  height: 50%;
  min-height: 350px;
  width: calc(100% - 40px);
  position: fixed;
  z-index: 999;
  bottom: -100%;
  transition: bottom 0.5s;
  box-shadow: 0px -1px 20px 5px rgba(0, 0, 0, 0.2);
}

.product-info.active {
  bottom: 0;
  transition: bottom 0.5s;
}

.product-info-header {
  display: flex;
  justify-content: space-between;
}

.product-info-name {
  font-size: 24px;
}

.product-info-container {
  display: flex;
  justify-content: space-between;
}

.product-barcodes-column {
  display: flex;
  flex-direction: column;
}

.product-barcodes-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 230px;
  overflow-y: auto;
  gap: 0 10px;
}

.product-info-column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  white-space: nowrap;
}
